<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Administración</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <nav>
      <a href="{{ url_for('partes.index') }}" class="logo">Partes de Obra</a>
      <a href="{{ url_for('partes.index') }}">Listado</a>
      <a href="{{ url_for('partes.nuevo_parte') }}">Nuevo parte</a>
      <a href="{{ url_for('admin.carga_admin') }}">Administración</a>
      <a href="{{ url_for('admin.logout_admin') }}" class="logout">Salir</a>
    </nav>

<div class="contenedor-admin">
    <h1>Administracion de datos maestros</h1>
    <div class="cuatro-columnas">
        <div>
            <h2>Tipos de terreno</h2>
            <div class="contenedor-tabla">  
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in tipos_terreno %}
                            <tr>
                                <td>{{ t['id'] }}</td>
                                <td>{{ t['descripcion'] }}</td>
                                <td>
                                    <form method="POST" action="{{ url_for('admin.eliminar_maestro', maestro='tipo_terreno', id=t['id']) }}" style="display:inline;" onsubmit="return confirm('¿Seguro que quieres borrar este tipo de terreno?')">
                                        <button type="submit" class="btn-tabla-borrar">Borrar</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
                <div class="boton_admin">
                    <form method="POST" action="{{ url_for('admin.insertar_maestro', maestro='tipo_terreno') }}">
                        <input type="text" name="descripcion" placeholder="Inserta Descripcion Terreno" class="{{ 'campo-error' if errores and 'tipo_terreno' in errores else '' }}">
                        <button type="submit" class="btn-verde">Añadir</button>
                    </form>
                    {% if errores and 'tipo_terreno' in errores %}
                        <p class="mensaje-error">{{ errores['tipo_terreno'] }}</p>
                    {% endif %}
                </div>
        </div>
        <div>    
            <h2>Tipo de secciones</h2>
                
            <div class="contenedor-tabla">  
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in secciones_tipo %}
                            <tr>
                                <td>{{ s['id'] }}</td>
                                <td>{{ s['descripcion'] }}</td>
                                <td>
                                    <form method="POST" action="{{ url_for('admin.eliminar_maestro', maestro='seccion_tipo', id=s['id']) }}" style="display:inline;" onsubmit="return confirm('¿Seguro que quieres borrar este tipo de sección?')">
                                        <button type="submit" class="btn-tabla-borrar">Borrar</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
                <div class="boton_admin">
                    <form method="POST" action="{{ url_for('admin.insertar_maestro', maestro='seccion_tipo') }}">
                        <input type="text" name="descripcion" placeholder="Inserta Descripcion Sección" class="{{ 'campo-error' if errores and 'seccion_tipo' in errores else '' }}">
                        <button type="submit" class="btn-verde">Añadir</button>
                    </form>
                    {% if errores and 'seccion_tipo' in errores %}
                        <p class="mensaje-error">{{ errores['seccion_tipo'] }}</p>
                    {% endif %}
                </div>
            
        </div>       

        <div>
            <h2>Estados de parte</h2>
            <div class="contenedor-tabla"> 
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in estados %}
                            <tr>
                                <td>{{ e['id'] }}</td>
                                <td>{{ e['descripcion'] }}</td>
                                <td>
                                    <form method="POST" action="{{ url_for('admin.eliminar_maestro', maestro='estado_parte', id=e['id']) }}" style="display:inline;" onsubmit="return confirm('¿Seguro que quieres borrar este estado de parte?')">
                                            <button type="submit" class="btn-tabla-borrar">Borrar</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="boton_admin">
                <form method="POST" action="{{ url_for('admin.insertar_maestro', maestro='estado_parte') }}">
                    <input type="text" name="descripcion" placeholder="Inserta Descripcion Estado" class="{{ 'campo-error' if errores and 'estado_parte' in errores else '' }}">
                    <button type="submit" class="btn-verde">Añadir</button>
                </form>
                {% if errores and 'estado_parte' in errores %}
                    <p class="mensaje-error">{{ errores['estado_parte'] }}</p>
                {% endif %}
            </div>
        </div>
    
        
        <div>
            <div>    
                <h2>Motivos de exceso</h2>
                <div class="contenedor-tabla">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Descripción</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for m in motivos_exceso %}
                                <tr>
                                    <td>{{ m['id'] }}</td>
                                    <td>{{ m['descripcion'] }}</td>
                                    <td>
                                        <form method="POST" action="{{ url_for('admin.eliminar_maestro', maestro='motivo_exceso', id=m['id']) }}" style="display:inline;" onsubmit="return confirm('¿Seguro que quieres borrar este motivo de exceso?')">
                                                <button type="submit" class="btn-tabla-borrar">Borrar</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="boton_admin">
                    <form method="POST" action="{{ url_for('admin.insertar_maestro', maestro='motivo_exceso') }}">
                        <input type="text" name="descripcion" placeholder="Inserta Descripcion Motivo Exceso" class="{{ 'campo-error' if errores and 'motivo_exceso' in errores else '' }}">
                        <button type="submit" class="btn-verde">Añadir</button>
                    </form>
                    {% if errores and 'motivo_exceso' in errores %}
                        <p class="mensaje-error">{{ errores['motivo_exceso'] }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2>Responsables</h2>
        <div class="contenedor-tabla"> 
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Activo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in personal %}
                        <tr>
                            <td>{{ p['id'] }}</td>
                            <td>{{ p['nombre'] }}</td>
                            <td>{{ p['apellido1'] }} {{ p['apellido2'] }}</td>
                            <td>{{ p['telefono'] }}</td>
                            <td>{{ p['email'] }}</td>
                            <td>{{ 'Si' if p['activo'] == 1 else 'No' }}</td>
                            <td>
                                <form method="POST" action="{{ url_for('admin.eliminar_maestro', maestro='personal', id=p['id']) }}" style="display:inline;" onsubmit="return confirm('¿Seguro que quieres borrar este responsable?')">
                                        <button type="submit" class="btn-tabla-borrar">Borrar</button>
                                </form>
                                <form method="POST" action="{{ url_for('admin.activar_personal_route', id=p['id']) }}" style="display:inline;" onsubmit="return confirm('¿Seguro que quieres cambiar el estado de este responsable?')">
                                        <button type="submit" class="btn-tabla-activar">{{ 'Desactivar' if p['activo'] == 1 else 'Activar' }}</button>
                                </form>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="boton_admin">
            <form method="POST" action="{{ url_for('admin.insertar_maestro', maestro='personal') }}">
                <div>
                    <label>Nombre</label>
                    <input type="text" name="nombre" placeholder="Inserta Nombre del Responsable" class="{{ 'campo-error' if errores and 'personal' in errores else '' }}" required>
                </div>
                    
                <div>
                    <label>Primer Apellido</label>
                    <input type="text" name="apellido1" placeholder="Inserta Primer Apellido" class="{{ 'campo-error' if errores and 'personal' in errores else '' }}" required> 
                </div>
                <div>
                    <label>Segundo Apellido</label>
                    <input type="text" name="apellido2" placeholder="Inserta Segundo Apellido" class="{{ 'campo-error' if errores and 'personal' in errores else '' }}" required>
                </div>
                <div>
                    <label>Teléfono</label>
                    <input type="text" name="telefono" placeholder="Ej: 666555444" pattern="[0-9]{9}" title="Introduce un número de teléfono válido de 9 dígitos" class="{{ 'campo-error' if errores and 'telefono' in errores else '' }}"required>
                    {% if errores and 'telefono' in errores %}
                        <p class="mensaje-error">{{ errores['telefono'] }}</p>
                    {% endif %}
                </div>
                <div>
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Inserta Email" class="{{ 'campo-error' if errores and 'email' in errores else '' }}" required>
                </div>
                <div>
                    <label>&nbsp;</label>
                    <button type="submit" class="btn-verde">Añadir</button>   
                </div> 
            </form>
            {% if errores and 'personal' in errores %}
                <p class="mensaje-error2">{{ errores['personal'] }}</p>
            {% endif %}
        </div>
    </div>
    
</div>
</body>
</html>