<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Partes de Obra</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <nav>
    <a href="{{ url_for('partes.index') }}" class="logo">Partes de Obra</a>
    <a href="{{ url_for('partes.index') }}">Listado</a> 
    <a href="{{ url_for('partes.nuevo_parte') }}">Nuevo parte</a>
    <a href="{{ url_for('admin.carga_admin') }}">Administración</a>
    </nav>

    <div class="contenedor">
        <div class="cabecera-pagina">
        <h1>Partes registrados</h1>
        <div class="filtros">
            <h3>Filtros de búsqueda</h3>
            <form method="GET" action="{{ url_for('partes.index') }}">
                <div>
                    <label style="text-align: center;">Nº parte</label>
                <input type="text" name="parte_numero" 
                    value="{{ parte_numero or '' }}" 
                    placeholder="Nº parte">
                </div>
                <div>
                    <label style="text-align: center;">Fecha del parte</label>      
                <input type="date" name="fecha_parte"
                    value="{{ fecha_parte or '' }}">
                </div>
                <div>
                    <label style="text-align: center;">Estado</label>
                    <select name="estado_id">
                        <option value="">Estados</option>
                        {% for e in estados %}
                            <option value="{{ e['id'] }}"
                                {{ 'selected' if estado_id == e['id']|string }}>
                                {{ e['descripcion'] }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label style="text-align: center;">Responsable</label>
                    <select name="responsable_id">
                        <option value="">Responsables</option>
                        {% for p in personal %}
                            <option value="{{ p['id'] }}"
                                {{ 'selected' if responsable_id == p['id']|string }}>
                                {{ p['nombre'] }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label>&nbsp;</label> 
                    <button type="submit" class="btn-verde">Buscar</button>
                    <a href="{{ url_for('partes.index') }}" class="btn-gris">Limpiar</a>
                </div>
                
            </form>
        </div>
        <a href="{{ url_for('partes.nuevo_parte') }}" class="btn-verde">+ Nuevo parte</a>
    </div>

        {% if partes %}
            <table>
                <thead>
                    <tr>
                        <th>Nº Parte</th>
                        <th>Fecha P.</th>
                        <th>Fecha Registro</th>
                        <th>Canal</th>
                        <th>Responsable</th>
                        <th>Relevo</th>
                        <th>Tipo Terreno</th>
                        <th>Sección Tipo</th>
                        <th>Total min</th>
                        <th>Averías</th>
                        <th>Paradas</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in partes %}
                        <tr>
                            <td>{{ p.parte_numero }}</td>
                            <td>{{ p.fecha_parte }}</td>
                            <td>{{ p.fecha_registro_utc }}</td>
                            <td>{{ p.canal_nombre }}</td>
                            <td>{{ p.responsable }}</td>
                            <td>{{ p.relevo }}</td>
                            <td>{{ p.tipo_terreno }}</td>
                            <td>{{ p.seccion_tipo }}</td>
                            <td>{{ p.total_actividades_min  or "-" }}</td>
                            <td>{{ "Sí" if p["hubo_averias"] == 1 else "No" }}</td>
                            <td>{{ "Sí" if p["hubo_paradas"] == 1 else "No" }}</td>
                            <td>{{ p.estado }}</td>
                            <td>
                                <a href="{{ url_for('partes.editar_parte', parte_id=p['id']) }}"
                                class="btn-tabla-editar">Editar</a>

                                <form method="POST" action="{{ url_for('partes.borrar_parte_route', parte_id=p['id']) }}" style="display:inline;" onsubmit="return confirm('¿Seguro que quieres borrar este parte?')">
                                    <button type="submit" class="btn-tabla-borrar">Borrar</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="sin-datos">No hay partes registrados todavía.</div>
        {% endif %}
    
    </div>

</body>
</html>