<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="contenedor">
        <h1>Login</h1>
        <form method="POST" action="{{ url_for('admin.login_admin_post') }}">
            <div>
                <label>Usuario</label>
                <input type="text" name="username" required>
            </div>
            <div>
                <label>Contraseña</label>
                <input type="password" name="password" required>
            </div>
            <button type="submit">Iniciar sesión</button>
            <a href="{{ url_for('partes.index') }}" class="btn-tabla-borrar">Volver</a>
        </form>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>